@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter.ttf ')
}

*, *::before, *::after {
  font-family: Inter, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 120%;
}

body {
  margin: 0;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1.4rem
}

a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

nav  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1.8rem;
  position: relative;
  font-size: 1.8rem;
  background-color: #8080808d;
  box-shadow: #868686 0 0 30px;
}

.log-reg {
  margin: -0.6rem 0;
  gap: 0;
}

.btn1,
.btn2 {
  font-size: 1.8rem;
  padding: 0.6rem 1.4rem;
  background-color: #00000070;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}

.btn1:hover,
.btn2:hover {
  background-color: #838383;
}

.btn1 {
  border-radius: 15px 0 0;
}

.btn2 {
  border-radius: 0 0 15px;
}

.landing {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-header {
  font-size: 2rem;
  font-weight: 700;
}

.landing-btn {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 900;
  padding: 0.6rem 1.4rem;
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
}